/.vscode
/ranking/bin/*
/ranking/include/*
/ranking/lib/*
/ranking/local/*
/ranking/config/*
/ranking/pip-selfcheck.json
/ranking/output.txt
/collector/config/*
/collector/bin/*
/collector/include/*
/collector/lib/*
/collector/local/*
/collector/pip-selfcheck.json
/collector/recent_pull.p
/bin/*
/include/*
/lib/*
/local/*
/config/*
/pip-selfcheck.json
/output.txt