<div class='register-form'>
  <label>UserName:</label><input type="text" name="userName" size="50"><br/>
  <label>Password:</label><input type="text" name="password" size="50"><br/>
  <label>Repeat Password:</label><input type="text" name="repeatPassword" size="50"><br/>
  <label>Email:</label><input type="text" name="email" size="50"><br/>
  <button type="submit" class="btn btn-default" {{action 'save' model}}>Register!</button>
</div>
{{outlet}}

{{outlet}}
