{{outlet}}
<div class="navigation">
  {{#link-to "game" click=(action "prevPage") tagName="button"}}prevPage{{/link-to}}
  {{#link-to "game" click=(action "nextPage") tagName="button"}}nextPage{{/link-to}}
</div>
<div class="container" popOutElements=popOutElements>
  {{#each slicedContent as |item index|}}
    {{game-feeds game=item}}
  {{/each}}
</div>
