<div class="main-outlet layout-column">
<header class="flex layout-row layout-align-center-center">
  <h2>Welcome to ES-WATCH app</h2>      
</header>
<nav  class="flex layout-column">
  <div class="flex layout-row layout-align-center-end">
    {{#if session.isAuthenticated}}
      <p>Signed in as {{session.data.authenticated.access_token.email}}</p>
      <button onclick={{action 'logout'}}>Logout</button>      
    {{else}}
      {{#link-to "login"}}Login/{{/link-to}}
      {{#link-to "register"}}Register{{/link-to}}
    {{/if}}
  </div>
</nav>
{{outlet}}    
</div>